.page-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
    height: 100vh;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
  overflow: hidden;

  @media (min-width: 1024px) {
    justify-content: start;
  }
}
.details-error {
  text-align: center;
}
.details-title {
  font-size: 1.5rem;
  text-align: center;
}

.details-content {
  background-color: mix(white, black, 95%);
  overflow: auto;
  padding: 0.5rem;

  @media (min-width: 1024px) {
    max-height: 80vh;
    padding: 1rem 1.5rem;
  }
}

.details-message {
  & p {
    margin: 0.2em 0;
  }
  & p:first-child {
    font-weight: 500;
    text-decoration: underline;
  }
}

.board {
  width: 90vw;
  height: 90vw;
  flex-shrink: 0;
  display: grid;
  grid-template: repeat(14, 1fr) / repeat(14, 1fr);

  margin: 1rem auto;
  // background: #34495e;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  @media (min-width: 1024px) {
    width: 80vh;
    height: 80vh;
    align-self: center;
    margin: 1rem;
  }
}

.field {
  font-size: 3rem;
  color: white;
  background: #34495e;
  opacity: 1;
  border: 2px solid #2c3e50;
  transition: opacity 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 5px solid #fff;
    outline-offset: 1px;
    z-index: 10;
  }

  &:active {
    transform: scale(0.98);
  }
}
