$toggle-size: 3rem;
$background-color: #060b26;
.nav {
  display: flex;
}

.navbar {
  background-color: $background-color;
  height: 100vh;
  left: -100%;
  position: fixed;
  transition: 550ms;
  width: 250px;

  &.active {
    left: 0;
  }

  @media (min-width: 1024px) {
    flex-grow: 1;
    position: initial;
    width: 150px;
  }
}

.navbar-elements {
  padding-left: 0;
  padding-top: $toggle-size;

  @media (min-width: 1024px) {
    padding-top: 0;
  }
}

.nav-element {
  height: 10vh;
  .nav-element-content {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 45px;
    border-radius: 4px;

    &:hover {
      background-color: mix($background-color, white, 90%);
    }
    &:focus {
      box-shadow: 0 0 0 4px white;
    }

    @media (min-width: 1024px) {
      padding: 0 10px;
    }
  }
}
.nav-element-text {
  margin-left: 0.5em;
}

.navbar-toggle {
  border-radius: 0 0 10% 0;
  font-size: $toggle-size;
  line-height: calc(#{$toggle-size} - 1rem);
  padding: 0.7rem;
  position: fixed;

  &.open {
    background-color: white;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
.user {
  border-bottom: 1px dashed white;
  margin-bottom: 1em;
  span {
    flex-direction: column;
  }
}
.user-name {
  font-size: 1.25em;
  margin: 0;
}
.user-logout {
  font-size: 0.75em;

  &:hover {
    cursor: pointer;
  }
}
.user-login {
  justify-content: center;
}
